{%extends './base.html'%}

{% block title %} Asignacion Proyecto {% endblock %}

{% block body %}
	<!--este input lo colocamos como hidden (oculto)
	su funcion es asignarle el valor de permisosPorPantalla
	para luego poder acceder a este valor desde el scrip
	y pasarle como parametro a 
	habilitarDeshabilitarCRUD()-->
	<input id="permiso" name="permiso" type="hidden" value="{{permisosPorPantalla}}">
	<input id="nombrePantalla" name="nombrePantalla" type="hidden" value="{{nombrePantalla}}">

	<script type="text/javascript">
		var input = document.getElementById("permiso");
		var input_aux = document.getElementById("nombrePantalla");
		var perPorPantalla = input.value;
		var nombrePantalla = input_aux.value;
		var permisosPorPantalla = "";
		
		//extraemos los permisos de perPorPantalla
		for (let i = 0; i < perPorPantalla.length; i++) {
			if(perPorPantalla[i] == 'C' || perPorPantalla[i] == 'R'
						|| perPorPantalla[i] == 'U' || perPorPantalla[i] == 'D' ){
				permisosPorPantalla = permisosPorPantalla.concat(perPorPantalla[i]);
			}
		}

		//invocamos a la funcion de javascript
		window.onload = function() { habilitarDeshabilitarCRUD(permisosPorPantalla, nombrePantalla); };
	</script>

    <h1>MODULO BACKLOG/PROYECTO</h1>
    <h4>{{email}}</h4>

		<h4>Permisos sobre "Proyecto": &nbsp;
			{% if permisosPorPantalla == None %}
				Niguno
			{% else %}
				{% for p in permisosPorPantalla %}
					{{p}}
				{% endfor %}
			{% endif %}
		</h4>

		<br>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
				<h3>Registrar Proyecto</h3>
				<div class="card">
					<div class="card-body">
						<form action="/asignarProyecto/{{email}}" method="POST"> {% csrf_token%}
							<div class="form-group py-2">
								<input type="text" id="txtNombreProyecto" name='txtNombreProyecto' 
									class="form-control" placeholder="Nombre" 
									maxlength="50" required>
							</div>
							<div class="form-group py-2">
								<input type="text" id="txtDescripcionProyecto" name='txtDescripcionProyecto' 
									class="form-control" placeholder="Descripcion" 
									required>
							</div>
							<!--<div style="height:50px; border-width:10px; padding-top: 10px" class="proyectoBackLog">
								Proyecto: {{proyecto.nombre}}
							</div>
							<div class="form-group py-2">
								
								<a href="/asignacionProyecto/{{email}}" id='btnAsignarProyecto' class="btn btn-info">Asignar proyecto</a>
							</div>-->

							<div class="form-group py-2">
								<button type="submit" class="btn btn-success btn-block text-white btnGuardarBackLog">Guardar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		

	</div>
{% endblock%}
