{%extends './base.html'%}

{% block title %} rol {% endblock %}

{% block body %}
    <h1>MODULO SEGURIDAD/USUARIO/DESASIGNAR ROLES</h1>
    <h4>{{emailAdmin}}</h4>
    <h4>Roles correspondientes a {{emailUsuario}}</h4>
    <br>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h3>Listado de roles</h3>
        <div class="table-responsive py-2">
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>ID</th>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in roles %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{r.nombre}}</td>
                            <td>{{r.idRol}}</td>
							<td>{{r.descripcion}}</td>
							<!--<td>{{r.permisos}}</td>-->
							<!--quitar-->
							<td><a href="/desasignarRol/{{emailAdmin}}/{{emailUsuarioAsignar}}/{{r.idRol}}" class="btn btn-info btnDesasignarRol">Quitar</a></td>
							<!--quitar-->
						</tr>
						{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock%}