<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IS 2 PROYECTO</title>
  </head>

  <body>
    <hr>
    <h1>Bienvenidos</h1>
    <hr>

    <br><h3>Ingrese sus datos para iniciar sesion</h3><br>

    <form action="/iniciarSesion/" method="POST">  {% csrf_token %} 
        <input type="email" name="yourEmail" placeholder='email'
          required><br>
        <input type="password" name="yourPassword" placeholder='contraseña' 
         required><br>
        <input type="submit" name="">
    </form>
  </body>
</html>
