{%extends './base.html'%}

{% block title %} Login {% endblock %}

{% block body %}
    <div class="login-page">
    <div class="form">
      <!--<form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Registrado? <a href="#">Ingresar</a></p>
      </form>-->
      
      <form class="login-form" action="/homeProyecto/" method="POST">  {% csrf_token %}
         <input type="email" name="yourEmail" placeholder='email'
            required><br>
          <input type="password" name="yourPassword" placeholder='contraseña' 
          required><br>
          <button>login</button>
        <p class="message">No está registrado? <a href="#">Crear usuario</a></p>
      </form>
    </div>
  </div>
{% endblock%}