{%extends './base.html'%}

{% block title %} SprintBacklog {% endblock %}

{% block body %}
    <h1>MODULO PROYECTO/BACKLOG/SPRINT BACKLOG</h1>
    <h4>{{email}}</h4>
    <h4>Permisos sobre SprintBackLog:
		{% for p in permisosPorPantalla %}
			{{p}}
		{% endfor %}
	</h4>
	<h4>SprintBackLog correspondientes al BackLog: {{backLog.nombre}} - {{backLog.idBackLog}}
	</h4>
    <br>
    <div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
			<h3>Registrar SprintBackLog</h3>
			<div class="card">
				<div class="card-body">
					<form action="/registrarSprintBackLog/{{email}}/{{backLog.idBackLog}}" method="POST"> {% csrf_token%}
						<div class="form-group py-2">
							<input type="text" id="txtNombreSprintBackLog" name='txtNombreSprintBackLog' 
								class="form-control" placeholder="Nombre" 
								maxlength="50" required>
						</div>
                        <div class="form-group py-2">
							<input type="text" id="txtDescripcionSprintBackLog" name='txtDescripcionSprintBackLog' 
								class="form-control" placeholder="Descripcion" 
							    required>
						</div>

						<div class="form-group py-2">
							<button type="submit" class="btn btn-success btn-block text-white btnGuardarSprintBackLog">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>

        
		<div id="divListadoSprintBackLog" class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
			<h3>Listado de Backlogs</h3>
			<div class="table-responsive py-2">
				<table class='table table-striped'>
					<thead>
						<tr>
							<th>#</th>
							<!--<th>Codigo</th>-->
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Fecha inicio</th>
							<th colspan="2">Opciones</th>
						</tr>
					</thead>
					<tbody>
						{% for s in sprintBackLogs %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{s.nombre}}</td>
							<td>{{s.descripcion}}</td>
							<td>{{s.fechaInicio}}</td>
							<td><a href="/edicionSprintBackLog/{{email}}/{{s.idSprintBackLog}}" 
								class="btn btn-info btnEditarSprintBackLog">Editar</a></td>
							<td><a href="/asignacionUserStorySprintBackLog/{{email}}/{{s.idSprintBackLog}}" 
								class="btn btn-info btnAgregarUS">Agregar UserStory</a></td>
							<td><a href="/verUserStorySprintBackLog/{{email}}/{{s.idSprintBackLog}}"
								class="btn btn-info btnVerUS">Ver UserStory</a></td>
							<td><a href="/eliminarSprintBackLog/{{email}}/{{s.idSprintBackLog}}" class="btn btn-danger
								btnEliminarSprintBackLog btnEliminacion">Eliminar</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock%}
