{%extends './base.html'%}

{% block title %} SprintBacklog {% endblock %}

{% block body %}
    <h1>MODULO PROYECTO/BACKLOG/SPRINT BACKLOG</h1>
    <h4>{{email}}</h4>
    <h4>Permisos sobre "SprintBackLog": &nbsp;
		{% if permisosPorPantalla == None %}
			Niguno
		{% else %}
			{% for p in permisosPorPantalla %}
				{{p}}
			{% endfor %}
		{% endif %}
	</h4>
	<h4>SprintBackLog correspondientes al BackLog: {{backLog.nombre}} - {{backLog.idBackLog}}
	</h4>
    <br>
    <div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
			<h3>Registrar SprintBackLog</h3>
			<!-- {% if mensaje != 'None' %}
				{% if mensaje == 'Registro exitoso' or mensaje == 'Edicion exitosa' %}
					<h4 style="color: green;">{{mensaje}}</h4>
				
				{% else %}
					<h4 style="color: red;">{{mensaje}}</h4>
				{% endif %}
			{% endif%} -->
			{% if operacionExitosa != 'None' %}
				{% if operacionExitosa == 'si' %}
					<h4 style="color: green;">{{mensaje}}</h4>
				{% else %}
					<h4 style="color: red;">{{mensaje}}</h4>
				{% endif %}
			{% endif %}

			<div class="card">
				<div class="card-body">
					<form action="/registrarSprintBackLog/{{email}}/{{backLog.idBackLog}}" method="POST"> {% csrf_token%}
						<div class="form-group py-2">
							<input type="text" id="txtNombreSprintBackLog" name='txtNombreSprintBackLog' 
								class="form-control" placeholder="Nombre" 
								maxlength="50" required>
						</div>
                        <div class="form-group py-2">
							<input type="text" id="txtDescripcionSprintBackLog" name='txtDescripcionSprintBackLog' 
								class="form-control" placeholder="Descripcion" 
							    required>
						</div>
						<div>
							<div class="form-group py-2">
								Fecha de Inicio<input type="date" id="fechaInicio" name='fechaInicio' 
									class="form-control" placeholder="fecha desde" 
									maxlength="50" required>
							</div>
							<div class="form-group py-2">
								Fecha de Finalización<input type="date" id="fechaFin" name='fechaFin' 
									class="form-control" placeholder="fecha hasta" 
									maxlength="50" required>
							</div>
						</div>
						<div class="form-group py-2">
							<button type="submit" class="btn btn-success btn-block text-white btnGuardarSprintBackLog">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>

        
		<div id="divListadoSprintBackLog" class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
			<h3>Listado de Backlogs</h3>
			<div class="table-responsive py-2">
				<table class='table table-striped'>
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre</th>
							<th>Descripcion</th>

							<!--<th>Duración</th>-->
							<th>Estado</th>
							<th>Fecha inicio</th>
							<th colspan="2">Opciones</th>
						</tr>
					</thead>
					<tbody>
						{% for s in sprintBackLogs %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{s.nombre}}</td>
							<td>{{s.descripcion}}</td>
							<td>
								{% if s.estado == 'I'%}
									Por Iniciar
								{% elif s.estado == 'C'%}
									En curso
								{% else %}
									Finalizado
								{% endif %}
							</td>
							<!--<td  style="width:150px;">
								{{s.fechaInicio  | date:"d-m-Y" }} al {{s.fechaFin  | date:"d-m-Y" }}
							</td>-->
							<!--<td style="width:120px;">
								<ul class="navbar-nav"> 
									<li class="nav-item dropdown"> 
										<a class="btn btn-info" href="http://example.com" id="navbarDropdownMenuLink"
											data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											{% if s.estado == 'I'%}
												Por Iniciar
											{% elif s.estado == 'C'%}
												En curso
											{% else %}
												Finalizado
											{% endif %}
											<i class="fa fa-angle-down"></i>
										</a>
										<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
											style="position: absolute; top: 100px;" > 
											<a class="dropdown-item"
												href="/cambiarEstadoSprintBackLog/{{email}}/{{s.idSprintBackLog}}/I">
												Iniciar</a> 
											<a class="dropdown-item"
												href="/cambiarEstadoSprintBackLog/{{email}}/{{s.idSprintBackLog}}/C">
												En curso</a> 
											<a class="dropdown-item"
												href="/cambiarEstadoSprintBackLog/{{email}}/{{s.idSprintBackLog}}/F">
												Finalizado</a> 
										</div> 
									</li>
								</ul>
							</td>-->
              
							<td>{{s.fechaInicio  | date:"d-m-Y"}}</td>
							<td><a href="/edicionSprintBackLog/{{email}}/{{s.idSprintBackLog}}" 
								class="btn btn-info btnEditarSprintBackLog">Editar</a></td>

							<!-- <td><a href="/asignacionUserStorySprintBackLog/{{email}}/{{s.idSprintBackLog}}" 
								class="btn btn-info btnAgregarUS">Agregar US</a></td> -->
							<td><a href="/verUserStorySprintBackLog/{{email}}/{{s.idSprintBackLog}}"
								class="btn btn-info btnVerUS">Ver UserStories</a></td>
							<td><a href="/finalizarSprintBackLog/{{email}}/{{s.idSprintBackLog}}" 
								class="btn btn-info btnFinalizarSprintBackLog">Finalizar SprintBL</a></td>
							<td><a href="/eliminarSprintBackLog/{{email}}/{{s.idSprintBackLog}}" class="btn btn-danger
								btnEliminarSprintBackLog btnEliminacion">Eliminar</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock%}