{%extends './base.html'%}

{% block title %} proyecto {% endblock %}

{% block body %}
    <h1>MODULO PROYECTO/KANBAN</h1>
    <h4>{{email}}</h4>
	<h4>
        Userstories correspondientes al proyecto: {{proyecto.nombre}} - {{proyecto.idProyecto}}
	</h4>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-2">
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>POR HACER</th>
                        <th>EN CURSO</th>
                        <th>FINALIZADO</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <table class='table table-striped'>
                                <tbody>
                                    {% for u in userstories %}
                                        {% if u.estado == 'Por hacer' %}
                                            <tr>
                                                <td>
                                                    {{u.nombre}}
                                                </td>
                                                <td>
                                                    <ul class="navbar-nav"> 
                                                        <li class="nav-item dropdown"> 
                                                            <a class="btn btn-info" href="http://example.com" id="navbarDropdownMenuLink"
                                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                {{u.estado}}
                                                                <i class="fa fa-angle-down"></i>
                                                            </a>
                                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                                                                style="position: absolute; top: 100px;" > 
                                                                <a class="dropdown-item"
                                                                    href="/cambiarEstadoUSDesdeKanban/{{email}}/{{u.idUserStory}}/Por hacer/{{proyecto.idProyecto}}">Por hacer</a> 
                                                                <a class="dropdown-item"
                                                                    href="/cambiarEstadoUSDesdeKanban/{{email}}/{{u.idUserStory}}/En curso/{{proyecto.idProyecto}}">En curso</a> 
                                                                <a class="dropdown-item"
                                                                    href="/cambiarEstadoUSDesdeKanban/{{email}}/{{u.idUserStory}}/Finalizado/{{proyecto.idProyecto}}">Finalizado</a> 
                                                            </div> 
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>

                        <td>
                            <table class='table table-striped'>
                                <tbody>
                                    {% for u in userstories %}
                                        {% if u.estado == 'En curso' %}
                                            <tr>
                                                <td>
                                                    {{u.nombre}}
                                                </td>
                                                <td>
                                                    <ul class="navbar-nav"> 
                                                        <li class="nav-item dropdown"> 
                                                            <a class="btn btn-info" href="http://example.com" id="navbarDropdownMenuLink"
                                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                {{u.estado}}
                                                                <i class="fa fa-angle-down"></i>
                                                            </a>
                                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                                                                style="position: absolute; top: 100px;" > 
                                                                <a class="dropdown-item"
                                                                    href="/cambiarEstadoUSDesdeKanban/{{email}}/{{u.idUserStory}}/Por hacer/{{proyecto.idProyecto}}">Por hacer</a> 
                                                                <a class="dropdown-item"
                                                                    href="/cambiarEstadoUSDesdeKanban/{{email}}/{{u.idUserStory}}/En curso/{{proyecto.idProyecto}}">En curso</a> 
                                                                <a class="dropdown-item"
                                                                    href="/cambiarEstadoUSDesdeKanban/{{email}}/{{u.idUserStory}}/Finalizado/{{proyecto.idProyecto}}">Finalizado</a> 
                                                            </div> 
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>

                        <td>
                            <table class='table table-striped'>
                                <tbody>
                                    {% for u in userstories %}
                                        {% if u.estado == 'Finalizado' %}
                                            <tr>
                                                <td>
                                                    {{u.nombre}}
                                                </td>
                                                <td>
                                                    <ul class="navbar-nav"> 
                                                        <li class="nav-item dropdown"> 
                                                            <a class="btn btn-info" href="http://example.com" id="navbarDropdownMenuLink"
                                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                {{u.estado}}
                                                                <i class="fa fa-angle-down"></i>
                                                            </a>
                                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                                                                style="position: absolute; top: 100px;" > 
                                                                <a class="dropdown-item"
                                                                    href="/cambiarEstadoUSDesdeKanban/{{email}}/{{u.idUserStory}}/Por hacer/{{proyecto.idProyecto}}">Por hacer</a> 
                                                                <a class="dropdown-item"
                                                                    href="/cambiarEstadoUSDesdeKanban/{{email}}/{{u.idUserStory}}/En curso/{{proyecto.idProyecto}}">En curso</a> 
                                                                <a class="dropdown-item"
                                                                    href="/cambiarEstadoUSDesdeKanban/{{email}}/{{u.idUserStory}}/Finalizado/{{proyecto.idProyecto}}">Finalizado</a> 
                                                            </div> 
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    
                </tbody>
            </table>
        </div>
    </div>
{% endblock%}