{%extends './base.html'%}

{% block title %} User Story {% endblock %}

{% block body %}
    <!--este input lo colocamos como hidden (oculto)
	su funcion es asignarle el valor de permisosPorPantalla
	para luego poder acceder a este valor desde el scrip
	y pasarle como parametro a 
	habilitarDeshabilitarCRUD()-->
	<input id="permiso" name="permiso" type="hidden" value="{{permisosPorPantalla}}">
	<input id="nombrePantalla" name="nombrePantalla" type="hidden" value="{{nombrePantalla}}">

	<script type="text/javascript">
		var input = document.getElementById("permiso");
		var input_aux = document.getElementById("nombrePantalla");
		var perPorPantalla = input.value;
		var nombrePantalla = input_aux.value;
		var permisosPorPantalla = "";
		
		//extraemos los permisos de perPorPantalla
		for (let i = 0; i < perPorPantalla.length; i++) {
			if(perPorPantalla[i] == 'C' || perPorPantalla[i] == 'R'
						|| perPorPantalla[i] == 'U' || perPorPantalla[i] == 'D' ){
				permisosPorPantalla = permisosPorPantalla.concat(perPorPantalla[i]);
			}
		}

		//invocamos a la funcion de javascript
		window.onload = function() { habilitarDeshabilitarCRUD(permisosPorPantalla, nombrePantalla); };
	</script>

    <h1>MODULO PROYECTO/USER STORY</h1>
    <h4 id="email">{{email}}</h4>
	<h4>Permisos sobre "UserStory": &nbsp;
		{% if permisosPorPantalla == None %}
			Niguno
		{% else %}
			{% for p in permisosPorPantalla %}
				{{p}}
			{% endfor %}
		{% endif %}
	</h4>
    <br>

    <div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
			<h3>Registrar UserStory</h3>
			{% if operacionExitosa != 'None' %}
				{% if operacionExitosa == 'si' %}
					<h4 style="color: green;">{{mensaje}}</h4>
				{% else %}
					<h4 style="color: red;">{{mensaje}}</h4>
				{% endif %}
			{% endif %}
			<div class="card">
				<div class="card-body">
						{% if sprintBackLog != None %}
							<form action="/registrarUserStory/{{email}}/{{sprintBackLog.idSprintBackLog}}" method="POST"> {% csrf_token%}
						{% else %}
							<form action="/registrarUserStory/{{email}}/0" method="POST"> {% csrf_token%}
						{% endif %}

						<div style="height:50px; border-width:10px; padding-top: 10px" class="backLogUserStory">
							<strong>
								{% if sprintBackLog != None %}
									SprintBackLog: {{sprintBackLog.nombre}} - {{sprintBackLog.idSprintBackLog}}
								{% else %}
									SprintBackLog: Por asignar
								{% endif %}
							</strong>
						</div>
						<div class="form-group py-2">	
							<a href="/asignacionBackLog/{{email}}" id='btnAsignarSprintBackLog' class="btn btn-info">Asignar SprintBackLog</a>
						</div>
						<div class="form-group py-2">
							<input type="text" id="txtNombreUserStory" name='txtNombreUserStory' 
								class="form-control" placeholder="Nombre" 
								maxlength="50" required>
						</div>
                        <div class="form-group py-2">
							<input type="text" id="txtDescripcionUserStory" name='txtDescripcionUserStory' 
								class="form-control" placeholder="Descripcion" 
							    required>
						</div>

						

						<div class="form-group py-2">
							<button type="submit" class="btn btn-success btn-block text-white btnGuardarUserStory">Guardar</button>
						</div>					
					</form>
				</div>
			</div>
		</div>
        
		<div id="divListadoUserStory" class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
			<h3>Listado de UserStories</h3>
			<div class="table-responsive py-2">
				<table class='table table-striped'>
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Asignado a</th>
							<th>SprintBackLog</th>
							<th colspan="2">Opciones</th>
						</tr>
					</thead>
					<tbody>
						{% for us in userstories %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{us.nombre}}</td>
							<td>{{us.descripcion}}</td>
						
							{% if us.usuario_id == None %}
								<!-- <td><a href="#" -->
								<td><a href="/porAsignacionUsuarioAUserStory/{{email}}/{{us.idUserStory}}"
									class="btn btn-secondary" style="width: 85%;">por asignar</a></td>
							{% else %}
								<td><a href="/porAsignacionUsuarioAUserStory/{{email}}/{{us.idUserStory}}"
									class="btn btn-secondary" style="width: 85%;">{{us.usuario_id}}</a></td>
							{% endif %}


							<td>{{us.sprintBackLog.nombre}}</td>		

							<td><a href="/edicionUserStory/{{email}}/{{us.idUserStory}}" class="btn btn-info btnEditarUserStory">Editar</a></td>
							<td><a href="/eliminarUserStory/{{email}}/{{us.idUserStory}}" class="btn btn-danger 
								btnEliminarUserStory btnEliminacion">Eliminar</a></td>
							<td>
								<ul class="navbar-nav"> 
									<li class="nav-item dropdown"> 
										<a class="btn btn-info" href="http://example.com" id="navbarDropdownMenuLink"
											data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											{{us.estado}}
											<i class="fa fa-angle-down"></i>
										</a>
										<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
											style="position: absolute; top: 100px;" > 
											<a class="dropdown-item" href="/cambiarEstadoUserStory/{{email}}/{{us.idUserStory}}/Por hacer/0">Por hacer</a> 
											<a class="dropdown-item" href="/cambiarEstadoUserStory/{{email}}/{{us.idUserStory}}/En curso/0">En curso</a> 
											<a class="dropdown-item" href="/cambiarEstadoUserStory/{{email}}/{{us.idUserStory}}/Finalizado/0">Finalizado</a> 
										</div> 
									</li>
								</ul>
								<!--</a>-->
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<div>
					<!-- <center>
    					{% include 'paginator.html' %}
					</center> -->
				</div>
			</div>
		</div>

		<!-- <script>
			this.bandera = false;
			function updateUrl(){
				let urlNuevo = 'http://' + "{{ request.get_host }}" + "/userstory/";
				//console.log("{{ request.get_absolute_url }}");
				email = document.getElementById('email');
				urlNuevo += email.innerHTML;
				//console.log(urlNuevo);=
				console.log(urlNuevo);
			}

			updateUrl();
		</script> -->
{% endblock%}
