{%extends './base.html'%}

{% block title %} proyecto {% endblock %}

{% block body %}
    <h1>MODULO PROYECTO/USUARIOS ASIGNADOS</h1>
    <h4>{{email}}</h4>
	<h4>Usuarios correspondientes al proyecto: {{proyecto.nombre}} - {{proyecto.idProyecto}}
	</h4>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h3>Listado de usuarios</h3>
        <div class="table-responsive py-2">
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>email</th>
                        <th>Opcion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in usuarios %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{u.nombre}}</td>
                        <td>{{u.email}}</td>
                        <td><a href="/desasignarUsuarioProyecto/{{email}}/{{proyecto.idProyecto}}/{{u.email}}" class="btn btn-danger 
                            btnEliminacion">Quitar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock%}