is2Proyecto/gestionProyectoApp/__pycache__/__init__.cpython-310.pyc
is2Proyecto/gestionProyectoApp/__pycache__/__init__.cpython-310.pyc
is2Proyecto/gestionProyectoApp/__pycache__/__init__.cpython-310.pyc
is2Proyecto/gestionProyectoApp/__pycache__/admin.cpython-310.pyc
is2Proyecto/gestionProyectoApp/__pycache__/apps.cpython-310.pyc
is2Proyecto/gestionProyectoApp/__pycache__/models.cpython-310.pyc
is2Proyecto/gestionProyectoApp/__pycache__/urls.cpython-310.pyc
is2Proyecto/gestionProyectoApp/__pycache__/views.cpython-310.pyc
is2Proyecto/gestionProyectoApp/migrations/0007_remove_rol_idformulario_rol_formulario.py
is2Proyecto/is2Proyecto/__pycache__/__init__.cpython-310.pyc
is2Proyecto/gestionProyectoApp/migrations/__pycache__/__init__.cpython-310.pyc
is2Proyecto/is2Proyecto/__pycache__/settings.cpython-310.pyc
is2Proyecto/is2Proyecto/__pycache__/urls.cpython-310.pyc
is2Proyecto/is2Proyecto/__pycache__/wsgi.cpython-310.pyc
is2Proyecto/gestionProyectoApp/migrations/__pycache__/__init__.cpython-310.pyc
is2Proyecto/gestionProyectoApp/migrations/0007_remove_rol_idformulario_rol_formulario.py
is2Proyecto/gestionProyectoApp/__pycache__/models.cpython-310.pyc
is2Proyecto/gestionProyectoApp/__pycache__/apps.cpython-310.pyc
is2Proyecto/gestionProyectoApp/__pycache__/admin.cpython-310.pyc
is2Proyecto/gestionProyectoApp/__pycache__/__init__.cpython-310.pyc
is2Proyecto/gestionProyectoApp/migrations/0007_remove_rol_idformulario_rol_formulario.py
is2Proyecto/gestionProyectoApp/__pycache__/models.cpython-310.pyc
is2Proyecto/gestionProyectoApp/__pycache__/apps.cpython-310.pyc
is2Proyecto/gestionProyectoApp/__pycache__/admin.cpython-310.pyc
is2Proyecto/gestionProyectoApp/__pycache__/__init__.cpython-310.pyc
is2Proyecto/gestionProyectoApp/migrations/__pycache__/__init__.cpython-310.pyc
*.pyc
*.pyc
*.pyc
is2Proyecto/gestionProyectoApp/migrations/0007_remove_rol_idformulario_rol_formulario.py
is2Proyecto/gestionProyectoApp/migrations/0007_remove_rol_idformulario_rol_formulario.py
